<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.item_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @item.user_name %>
</p>

<p>
  <strong>Nutrition:</strong>
  <%= @item.nutrition_id %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @item.meal_id %>
</p>

<p>
  <strong>Date logged:</strong>
  <%= @item.date_logged %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
